@use '../variables' as *;

.avater {
    margin-left: min(-2.6666vw,-10px);
    @include landscape {
        margin-left: -10px;
    }
    @include tb-screen {
        margin-left: -10px;
    }
    &:first-child {
        margin-left: 0;
    }
    &__anchor {
        @include reset-anchor;
    }
    &__image {
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #333;
        box-sizing: border-box;
        display: block;
        width: max(16vw, 60px);
        height: max(16vw, 60px);
        @include landscape {
            width: 60px;
            height: 60px;
        }
        @include tb-screen {
            width: 60px;
            height: 60px;
        }
    }
}