@use '../variables' as *;

.button-primary {
    @include font-din;
    @include reset-button;
    border-radius: max(6.1333vw,23px);
    background: linear-gradient( -30deg, $color-pink 25%, $color-green 75% );
    box-shadow: 0px .3em 0 #666;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    font-size: max(5.3333vw,2rem);
    font-weight: 700;
    justify-content: center;
    line-height: 1.7;
    margin: 0 auto;
    padding: .325em 1.1em .325em 1.25em;
    width: 100%;
    cursor: pointer;
    transition: $transition-base;
    position: relative;
    @include landscape {
        font-size: 2rem;
        width: 75%;
    }
    @include tb-screen {
        font-size: 2.4rem;
        width: 50%;
    }
    &::after {
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: .375em 0 .375em .45em;
        border-color: transparent transparent transparent #fff;
        transition: $transition-base;
        transform: translate3d(0,-50%,0);
        position: absolute;
        top: 50%;
        right: max(5.3333vw,20px);
        @include landscape {
            right: 20px;
        }
        @include tb-screen {
            right: 20px;
        }
    }
    &:hover {
        @include pc-screen {
            box-shadow: none;
            transform: translate3d(0, .03em, 0);
            &::after {
                transform: translate3d(.5em, -50%, 0);
            }
        }
    }
    &:active {
        box-shadow: none;
        transform: translate3d(0, .03em, 0);
        &::after {
            transform: translate3d(.5em, -50%, 0);
        }
    }
    &:disabled , &.is-disabled {
        background: $color-gray;
        box-shadow: none;
        color: #fff;
        pointer-events: none;
        transform: translate3d(0, .03em, 0);
        user-select: none;
        &::after {
            transform: scale(0);
        }
    }
    &.is-disabled {
        pointer-events: none;
    }

}