@use '../variables' as *;

.card {
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    text-align: left;
    position: relative;
    &__anchor {
        @include reset-anchor;
        color: #333;
    }
    &__thumb {
        margin: 0;
    }
    &__video {
        display: block;
        position: relative;
        width: 100%;
        padding-top: 56.25%;
    }
    &__iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
        pointer-events: none;
    }
    &__image {
        display: block;
        width: 100%;
        height: auto;
        @include landscape {
            margin-bottom: 16px;
        }
        @include tb-screen {
            margin-bottom: 16px;
        }
        &--loading {
            @include loading-card()
        }
    }
    &__desc {
        padding: max(4.2666vw, 16px);
        @include landscape {
            padding: 16px;
        }
        @include tb-screen {
            padding: 16px;
        }
    }
    &__title {
        @include font-kaku-gothic;
        font-weight: 700;
        font-size: max(4.2666vw, 1.6rem);
        letter-spacing: 0.02em;
        line-height: 1.5;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @include tb-screen {
            font-size: 1.8rem;
        }
    }
    &__content {
        font-size: max(3.7333vw, 1.4rem);
        line-height: 1.75;
        margin: .5em 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @include landscape {
            font-size: 1.4rem;
        }
        @include tb-screen {
            font-size: 1.6rem;
        }
        p {
            margin: 0;
        }
        a {
            color: $color-pink;
            transition: $transition-base;
            word-break: break-all;
            @include pc-screen {
                &:hover {
                    opacity: .75;
                }
            }
        }
        strong {
            background: linear-gradient(transparent 50%, rgba(0, 191, 179, .5) 60%);
            font-weight: 400;
        }
    }
    &__detail {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__data {
        font-size: max(2.6666vw,1rem);
        line-height: 1.5;
        @include landscape {
            font-size: 1rem;
        }
        @include tb-screen {
            font-size: 1.2rem;
        }
    }
    &__more {
        @include reset-anchor;
        color: $color-pink;
        font-size: max(2.6666vw,1rem);
        line-height: 1.5;
        @include landscape {
            font-size: 1rem;
        }
        @include tb-screen {
            font-size: 1.2rem;
        }
    }
}