@use '../variables' as *;

.card-load {
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 100%;
    overflow: hidden;
    text-align: left;
    position: relative;
    padding: max(4.2666vw, 16px);
    @include landscape {
        padding: 16px;
    }
    @include tb-screen {
        padding: 16px;
    }
    &__thumb {
        margin: 0;
    }
    &__image {
        @include loading-card(auto, 100%);
        aspect-ratio: 16 / 9;
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: max(4.2666vw, 16px);
        @include landscape {
            margin-bottom: 16px;
        }
        @include tb-screen {
            margin-bottom: 16px;
        }
    }
    &__desc {

    }
    &__title {
        @include loading-card(1em, 100%);
        @include font-kaku-gothic;
        font-weight: 700;
        font-size: max(4.2666vw, 1.6rem);
        letter-spacing: 0.02em;
        line-height: 1.5;
        margin: 0;
        @include tb-screen {
            font-size: 1.8rem;
        }
    }
    &__content {
        @include loading-card(1em, 100%);
        font-size: max(3.7333vw, 1.4rem);
        line-height: 1.75;
        margin: .5em 0;
        @include landscape {
            font-size: 1.4rem;
        }
        @include tb-screen {
            font-size: 1.6rem;
        }
    }
    &__author {
        align-items: center;
        display: flex;
    }
    &__data {
        @include loading-card(1em, 100%);
        font-size: max(2.6666vw,1rem);
        line-height: 1.5;
        @include landscape {
            font-size: 1rem;
        }
        @include tb-screen {
            font-size: 1.2rem;
        }
    }
}