@use '../variables' as *;

.card-list {
    @include reset-list;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 15px), 1fr));
    gap: 15px;
    @include tb-screen {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3 - 15px * 2), 1fr));
    }
    @include pc-screen {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4 - 15px * 3), 1fr));
    }
}