@use '../variables' as *;

.footer {
    @include font-din;
    font-size: 1rem;
    align-items: center;
    background-color: #2F2F2F;
    color: #fff;
    display: flex;
    width: 100%;
    height: 4.5rem;
    line-height: 1.1666;
    justify-content: center
}