@use '../variables' as *;

.form-row {
    margin-bottom: 1em;
    &:last-child {
        margin-bottom: 0;
        margin-top: 2em;
    }
    @include tb-screen {
        max-width: 600px;
        margin: 0 auto 1em;
    }
}