@use '../variables' as *;

.heading-primary {
    @include font-din;
    color: #333;
    display: inline-block;
    font-size: max(12vw,4.5rem);
    font-weight: 700;
    line-height: 1.2888;
    margin: 0 0 .7777em;
    text-decoration: underline;
    text-underline-offset: 10px;
    @include landscape {
        font-size: 4.5rem;
    }
    @include tb-screen {
        font-size: 5.4rem;
    }
    &--white {
        color: #fff;
    }
}

.heading-secondary {
    @include font-kaku-gothic;
    font-size: max(6.9333vw,2.6rem);
    font-weight: 700;
    color: #333;
    display: block;
    line-height: 1.2888;
    margin-top: 0;
    margin-bottom: .7777em;
    @include landscape {
        font-size: 2.6rem;
    }
    @include tb-screen {
        font-size: 3.6rem;
    }
    &--gradation {
        background: $color-theme-gradation;
        -webkit-background-clip: text;
        color: transparent;
    }
    &--white {
        color: #fff;
    }
}
