@use '../variables' as *;

.header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 60px;
    z-index: 1;
    padding: max(2.1333vw, 8px) max(5.3333vw, 20px);
    @include landscape {
        padding: 12px 20px;
    }
    @include tb-screen {
        padding: 12px 20px;
    }
    &__inner {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: calc(100% - max(6.6666vw, 40px));
        @include landscape {
            width: calc(100% - 40px);
        }
        @include tb-screen {
            width: calc(100% - 40px);
        }
    }
    &__avater {
        background-color: rgba(255,255,255,.5);
        border-radius: 50%;
        display: block;
        width: 10.6666vw;
        height: 10.6666vw;
        @include landscape {
            width: 40px;
            height: 40px;
        }
        @include tb-screen {
            width: 40px;
            height: 40px;
        }
    }
    &__list {
        @include reset-list;
        display: flex;
    }
    &__item {
        @include font-kaku-gothic;
        font-weight: 700;
        font-size: 4.2666vw;
        letter-spacing: 0.02em;
        line-height: 1.5;
        margin-right: .75em;
        &:last-child {
            margin-right: 0;
        }
        @include landscape {
            font-size: 1.6rem;
        }
        @include tb-screen {
            font-size: 1.8rem;
        }
    }
    &__anchor {
        @include reset-anchor;
        background: $color-theme-gradation;
        -webkit-background-clip: text;
        color: transparent;
        display: block;
    }
}