@use '../variables' as *;

.hero {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    &__image {
        display: block;
        width: 100%;
        height: auto;
        @include tb-screen {
            aspect-ratio: 16 / 9;
            width: 720px;
            height: 405px;
            object-fit: cover;
        }
    }
    &__caption {
        box-sizing: border-box;
        padding: 0 max(5.3333vw,20px);
        width: 100%;
        @include landscape {
            padding: 0 20px;
        }
        @include tb-screen {
            padding: 0;
        }
    }
    &__title {
        @include font-kaku-gothic;
        font-weight: 700;
        font-size: max(4.2666vw, 1.6rem);
        letter-spacing: 0.02em;
        line-height: 1.5;
        margin: 1em 0;
        @include tb-screen {
            font-size: 1.8rem;
        }
    }
    &__author {
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
    &__data {
        font-size: max(2.6666vw,1rem);
        line-height: 1.5;
        @include landscape {
            font-size: 1rem;
        }
        @include tb-screen {
            font-size: 1.2rem;
        }
    }
}