@use '../variables' as *;

.input {
    @include input;
}

.textarea {
    @include input;
    height: 13.3125em;
    resize: vertical;
    &::placeholder {
        @include font-default;
        font-size: max(4.2666vw,1.6rem);
        font-weight: 400;
        @include landscape {
            font-size: 1.6rem;
        }
        @include tb-screen {
            font-size: 1.8rem;
        }
    }

}