@use '../variables' as *;

@mixin post-h2 {
    @include font-kaku-gothic;
    background-color: $color-theme-gradation;
    box-sizing: border-box;
    color: #333;
    font-size: max(4.8vw,1.8rem);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .02em;
    margin: 0 0 max(8.5333vw,32px);
    padding: 0.675em .8em .7em;
    width: calc(100% + max(8.5333vw,32px));
    transform: translateX(min(-4.2666vw,-16px));
    @include landscape {
        font-size: 1.8rem;
        margin: 0 0 32px;
        width: calc(100% + 32px);
        transform: translateX(-16px);
    }
    @include tb-screen {
        font-size: 2rem;
        margin: 0 0 32px;
        padding: 0.675em .8em .7em;
        width: unset;
        transform: unset;
    }
}

@mixin post-h3 {
    @include font-kaku-gothic;
    border-left: 0.4444em solid $color-theme-gradation;
    color: #333;
    font-size: max(4.8vw,1.8rem);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .02em;
    margin: 0 0 max(4.8vw,18px);
    padding: 0 0 0.1666em 0.4444em;
    @include landscape {
        font-size: 1.8rem;
        margin: 0 0 18px;
    }
    @include tb-screen {
        font-size: 2rem;
        margin: 0 0 18px;
    }
}

@mixin post-h4 {
    @include font-kaku-gothic;
    background-color: $color-pale-gray;
    color: #333;
    font-size: max(4.2666vw,1.6rem);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .02em;
    margin: 0 0 max(4.2666vw,16px);
    padding: .40625em .9em .59375em;
    @include landscape {
        font-size: 1.6rem;
        margin: 0 0 16px;
    }
    @include tb-screen {
        font-size: 1.6rem;
        margin: 0 0 16px;
        padding: .40625em .9em .59375em;
    }
}

@mixin post-p {
    color: #333;
    font-size: max(4vw,1.5rem);
    font-weight: 400;
    line-height: 1.75;
    margin: 0;
    @include landscape {
        font-size: 1.5rem;
    }
    @include tb-screen {
        font-size: 1.6rem;
        line-height: 2;
    }
    strong {
        background:linear-gradient(transparent 50%, $color-green 60%);
        font-weight: 400;
    }
    & + p, & + ul, & + ol, & + h3, & + h4 {
        margin-top: 1em;
    }
    & + .wp-block-group, & + figure, & + img, & + h2 {
        margin-top: 2em;
    }
}

@mixin post-a {
    color: $color-pink;
    transition: $transition-base;
    @include pc-screen {
        &:hover {
            opacity: .75;
        }
    }
}

@mixin post-img {
    display: block;
    width: 100%;
    height: auto;
    @include tb-screen {
        width: 88.8888%;
        margin: 0 auto;
    }
}

@mixin wp-block-group {
    & + p, & + ul, & + ol, & + h3, & + h4 {
        margin-top: 1em;
    }
    & + .wp-block-group, & + figure, & + img, & + h2 {
        margin-top: 2em;
    }
}

%post-list {
    color: #333;
    font-size: max(4vw,1.5rem);
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 0 1.5em;
    padding: 0;
    @include landscape {
        font-size: 1.5rem;
    }
    @include tb-screen {
        font-size: 1.6rem;
        line-height: 2;
    }
    li {

    }
    & + p, & + ul, & + ol, & + h3, & + h4 {
        margin-top: 1em;
    }
    & + .wp-block-group, & + figure, & + img, & + h2 {
        margin-top: 2em;
    }
}

%post-figure {
    font-size: max(4vw,1.5rem);
    line-height: 1.75;
    margin: 0;
    @include landscape {
        font-size: 1.5rem;
    }
    @include tb-screen {
        font-size: 1.6rem;
        line-height: 2;
    }
    img {
        display: block;
        width: 100%;
        height: auto;
        @include tb-screen {
            width: 88.8888%;
            margin: 0 auto;
        }
    }
    figcaption {
        font-size: max(3.2vw,1.2rem);
        line-height: 1.75;
        margin-top: max(2.6666vw,10px);
        text-align: center;
        @include landscape {
            font-size: 1.2rem;
            margin-top: 10px;
        }
        @include tb-screen {
            font-size: 1.2rem;
            margin-top: 10px;
        }
    }
    & + p, & + ul, & + ol, & + h3, & + h4 {
        margin-top: 1em;
    }
    & + .wp-block-group, & + figure, & + img, & + h2 {
        margin-top: 2em;
    }
}

%post-table {
    @include font-kaku-gothic;
    font-size: max(4vw,1.5rem);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .02em;
    margin: 0;
    @include landscape {
        font-size: 1.5rem;
    }
    @include tb-screen {
        font-size: 1.6rem;
    }
    table {
        display: block;
    }
    tr {
        border-bottom: 1px solid $color-light-gray;
        display: block;
        padding: max(5.3333vw,20px);
        @include landscape {
            padding: 20px 0;
        }
        @include tb-screen {
            padding: 20px 0;
        }
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
    td {
        display: block;
        &:first-child {
            font-size: max(3.7333vw,1.4rem);
            &::after {
                content: '：';
            }
            @include landscape {
                font-size: 1.4rem;
            }
            @include tb-screen {
                font-size: 1.5rem;
            }
        }
        ul, ol, p {
            margin-top: max(4.2666vw,16px);
            @include landscape {
                margin-top: 16px;
            }
            @include tb-screen {
                margin-top: 16px;
            }
        }
    }
}

.post {
    @include section;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding-top: max(4vw,15px);
    @include landscape {
        padding-top: 15px;
    }
    @include tb-screen {
        padding-top: 25px;
    }
    h2 {
        @include post-h2;
    }
    h3 {
        @include post-h3;
    }
    h4 {
        @include post-h4;
    }
    p {
        @include post-p;
    }
    a {
        @include post-a;
    }
    img {
        @include post-img;
    }
    ul {
        @extend %post-list;
    }
    ol {
        @extend %post-list;
    }
    figure {
        @extend %post-figure;
    }
    .wp-block-group {
        @include wp-block-group;
    }
}