@use '../variables' as *;

.select-wrap {
    position: relative;
    font-size: max(4.2666vw,1.6rem);
    @include landscape {
        font-size: 1.6rem;
    }
    @include tb-screen {
        font-size: 1.8rem;
    }
    &::after {
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: .375em 0 .375em .45em;
        border-color: transparent transparent transparent #333;
        transition: $transition-base;
        transform: translate3d(0,-50%,0) rotate(90deg);
        position: absolute;
        top: 50%;
        right: max(5.3333vw,20px);
        @include landscape {
            right: 20px;
        }
        @include tb-screen {
            right: 20px;
        }
    }
}

.select {
    @include input;
    cursor: pointer;
    padding: 1.25em 2.5em 1.25em 1em;
}