@use '../variables' as *;

.tag {
    @include font-kaku-gothic;
    background-color: #e6e6e6;
    border-radius: max(5.3333vw, 20px);
    color: #333;
    display: inline-block;
    font-weight: 700;
    font-size: max(3.7333vw, 1.4rem);
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin: 0 max(1.0666vw, 4px) max(1.0666vw, 4px) 0;
    padding: 0.5em 0.8333em;
    &::before {
        content: '#';
        padding-right: .25em;
    }
    @include landscape {
        border-radius: 20px;
        font-size: 1.4rem;
    }
    @include tb-screen {
        border-radius: 20px;
        font-size: 1.8rem;
    }
}