@use '../variables' as *;

.tag-list {
    @include reset-list;
    margin-bottom: max(6.4vw,24px);
    width: 100%;
    @include landscape {
        margin-bottom: 24px;
    }
    @include tb-screen {
        max-width: 800px;
        margin: 0 auto 32px;
    }
}