@use '../variables' as *;

@keyframes toaster {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
.toaster {
    @include font-kaku-gothic;
    box-shadow: $box-shadow-base;
    border-radius: max(2.1333vw, 8px) 0 0 max(2.1333vw, 8px);
    color: #fff;
    display: inline-block;
    font-weight: 700;
    font-size: max(3.7333vw, 1.4rem);
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 0.5em 0.8333em;
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 1;
    transition: all .5s ease-out;
    transform: translate3d(100%, 0, 0);
    @include landscape {
        border-radius: 8px 0 0 8px;
        font-size: 1.4rem;
        top: 40px;
    }
    @include tb-screen {
        border-radius: 8px 0 0 8px;
        font-size: 1.8rem;
    }
    &--success {
        background-color: rgb(0, 191, 179, .75);
        transform: translate3d(0, 0, 0);
    }
    &--error {
        background-color: rgba(255, 102, 163, .75);
        transform: translate3d(0, 0, 0);
    }
}