@use '../variables' as *;

.work {
    @include section;
    background-color: $color-gray;
    padding: max(16vw,60px) max(5.3333vw,20px) max(12vw,45px);
    @include landscape {
        padding: 60px 20px 45px;
    }
    @include tb-screen {
        padding: 100px 40px 85px;
    }
}