html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-size: 62.5%;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  /* -webkit-text-size-adjust: none; */
  /* text-size-adjust: none; */
}

body {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Yu Gothic Medium","Yu Gothic","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  font-weight: 400;
  margin: 0;
  width: 100%;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-x: contain;
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}