@use "sass:math";

// color
$color-red: #f00;
$color-green: #00bfb3;
$color-blue: #00f;
$color-navy: #003255;
$color-yellow: #FFD400;
$color-gray: #ccc;
$color-light-gray: #C7C7C7;
$color-pale-gray: #F0F0F0;
$color-pink: #ff66a3;

$color-theme-gradation: linear-gradient( to left, rgb(0, 191, 179) 25%, rgb(255, 102, 163) 75% );

// transition
$transition-base: all .3s ease-in-out;

// box-shadow
$box-shadow-base: 0 3px 15px rgba(0, 0, 0, .15);

// reset
@mixin reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin reset-anchor {
    text-decoration: none;
    transition: $transition-base;
    @include pc-screen {
        &:hover {
            opacity: .75;
        }
    }
}

@mixin reset-button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    padding: 0;
}

@mixin reset-avater {
    border-radius: 50%;
    display: inline-block;
}

%reset-definition {
    margin: 0;
    dd {
        margin: 0;
    }
}

//transition
$transition-base: all .3s ease-in-out;

// breakpoint
$breakpoint-sm: 599px;
$breakpoint-tb: 600px;
$breakpoint-pc: 1105px;

// media query
@mixin sm-screen {
    @media screen and (max-width: $breakpoint-sm) {
        @content;
    }
}

@mixin tb-screen {
    @media screen and (min-width: $breakpoint-tb) {
        @content;
    }
}

@mixin pc-screen {
    @media screen and (min-width: $breakpoint-pc) {
        @content;
    }
}

@mixin portrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}

@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin sm-font-size-vw($size) {
    $winW : 375;  // 画面幅を設定する
    font-size: math.div($size, $winW) * 100 + vw;
}

@mixin font-default {
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Yu Gothic Medium","Yu Gothic","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-weight: 400;
}

@mixin font-din {
    font-family: din-2014,sans-serif;
}

@mixin font-kaku-gothic {
    font-family: source-han-sans-japanese,sans-serif;
}

@mixin section {
    box-sizing: border-box;
    width: 100%;
    padding: max(16vw,60px) max(5.3333vw,20px);
    text-align: center;
    @include landscape {
        padding: 60px 20px;
    }
    @include tb-screen {
        padding: 100px 40px;
    }
}

@mixin input {
    @include font-default;
    appearance: none;
    background-color: rgba( 255 , 255 , 255 , .85 );
    border: 1px solid $color-gray;
    border-radius: max(1.8133vw,6.8px);
    box-sizing: border-box;
    box-shadow: 0;
    color: #333;
    display: block;
    font-size: max(4.2666vw,1.6rem);
    padding: 1.25em 1em;
    width: 100%;
    transition: $transition-base;
    @include landscape {
        border-radius: 6.8px;
        font-size: 1.6rem;
    }
    @include tb-screen {
        border-radius: 6.8px;
        font-size: 1.8rem;
    }
    &:focus {
        outline: 0;
    }
    &:-webkit-autofill {
        box-shadow: 0 0 0px 100px #fff inset;
    }
    &::placeholder {
        color: rgba(0, 0, 0, 0.3);
    }
}

@mixin loading-card($height: inherit, $width: 100%) {
    display: inline-block;
    height: $height;
    width: $width;
    background: linear-gradient(
        to right,
        $color-gray 0%,
        #e6e6e6 10%,
        $color-gray 20%,
        $color-gray 100%
    );
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
    opacity: .5;
}

@keyframes bgPos {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: -150% 0;
    }
}